<!--The content below is only a placeholder and can be replaced.-->
<div class="blue-flat" style="position: absolute; width: 100%; height: 100%; background: black;">
  <div style="display: flex; height: 100%;">
    <div style="width: 100px; background: red;">
      LEFT-NAV
      <span class="glyphicon glyphicon-adjust"></span>
      <i class="fa fa-fw fa-envelope"></i>
    </div>
    <div style="flex: 1; background-color: white;">
      <div style="background: green; padding: 20px 5px 20px 5px; text-align: right;">
        HEADER
      </div>
      <div style="background: yellow; margin: 20px; padding: 20px;">
        <button class="btn btn-primary">TEST</button>
        CONTENT
      </div>
      <div style="background: cyan; margin: 20px; padding: 20px;">
        DISCUSSION
      </div>
    </div>
    <div style="width: 200px; background: blue;">
      RIGHT PANEL
    </div>
  </div>
</div>

<!--

@mixin theme($themeName, $ $ $){
  .${themeName} {
    .btn {
      padding: 20px;
    }
  }
}

@import 'red';
@import 'flat';
new theme(red, $primaryColor, $secondaryColor, $borderRadius, $padding);

@import 'blue';
@include theme(blue-flat, $primaryColor, $secondaryColor, $borderRadius, $padding);


@mixin theme($themeName, $ $ $){
  .${themeName} {
    .btn {

    }
  }
}

-->