<!--The content below is only a placeholder and can be replaced.-->
<dp-theme-wrapper>
  <div style="display: flex; height: 100%;">
    <div style="width: 100px; background: red;">
      LEFT-NAV
      <span class="glyphicon glyphicon-adjust"></span>
      <i class="fa fa-fw fa-envelope"></i>
    </div>
    <div style="flex: 1; background-color: white;">
      <div style="background: green; padding: 20px 5px 20px 5px; text-align: right;">
        HEADER
      </div>
      <div style="background: yellow; margin: 20px; padding: 20px;">
        <button class="btn btn-primary" (click)="themeService.setColorTheme('red')">Set red theme</button>
        <button class="btn btn-primary" (click)="themeService.setColorTheme('blue')">Set blue theme</button>
        <button class="btn btn-primary" (click)="themeService.setLayoutTheme('flat')">Set flat theme</button>
        <button class="btn btn-primary" (click)="themeService.setLayoutTheme('round')">Set round theme</button>
        <button class="btn btn-primary" (click)="themeService.enableTransitions()">Transitions ON</button>
        <button class="btn btn-primary" (click)="themeService.disableTransitions()">Transitions OFF</button>
      </div>
      <div style="background: cyan; margin: 20px; padding: 20px;">
        DISCUSSION
      </div>
    </div>
    <div style="width: 200px; background: blue;">
      RIGHT PANEL
    </div>
  </div>
</dp-theme-wrapper>

<!--

@mixin theme($themeName, $ $ $){
  .${themeName} {
    .btn {
      padding: 20px;
    }
  }
}

@import 'red';
@import 'flat';
new theme(red, $primaryColor, $secondaryColor, $borderRadius, $padding);

@import 'blue';
@include theme(blue-flat, $primaryColor, $secondaryColor, $borderRadius, $padding);


@mixin theme($themeName, $ $ $){
  .${themeName} {
    .btn {

    }
  }
}

-->