@import 'globals';

.btn:focus {
  outline: 0;
}

@mixin theme($themeName) {
  /deep/ {
    .#{$themeName} {
      .btn {
        border-width: 1px;
        border-color: $colorDark;
        border-radius: $borderRadius;
        transition: all $themeTransitionLength linear;
        flex: 1;
        &:active, &:focus {
          flex: 2.5;
          &.btn-primary {
            background-color: $colorDark;
          }
        }
      }
      .btn.btn-primary {
        background-color: $colorPrimary;
      }
      .btn:hover {
        background-color: lighten($colorPrimary, 10%);
      }
      * {
        &::selection {
          background-color: lighten($colorPrimary, 30%);
        }
      }
    }
  }
}

@import 'theme.generator';